{% extends 'appHospital/padre.html' %}
{% load static %}
{% block topPage %}
<a class="navbar-brand" href=" {% url 'index' %}">H</a>
{% endblock %}
{% block title %}
<div class="masthead-subheading">{{blog.category}}</div>
{% endblock %}
{% block changingContent %}
<h2>{{blog.titulo}}</h2>
<img src="{{ blog.image.url }}" alt="img">
<h3>{{blog.subtitulo}}</h3>
<h6>Autor: {{blog.autor}}</h4>
<h6>Fecha: {{blog.publicado}}</h5>
<p>{{blog.contenido}}</p>
<br>
<p>
    <a href="{% url 'paginas' %}">Volver</a>
</p>
{% endblock %}