{% extends 'appHospital/padre.html' %}
{% load static %}
{% block topPage %}
<a class="navbar-brand" href=" {% url 'index' %}">H</a>
{% endblock %}
{% block changingContent %}
{% block title %}
<div class="masthead-subheading">Profesionales</div>
{% endblock %}
{% for profesional in object_list %}
<li>{{profesional}}</li>
<button>
    <a href="% url 'profesional_detalle' profesional.id %">Información</a>
    <a href="% url 'profesional_edicion' profesional.id %">Editar</a>
    <a href="% url 'profesional_eliminar' profesional.id %">Eliminar</a>
</button>
{% endfor %}
<br>
<br>
<button>
    <a href="{% url 'profesional_crear' %}">Crear</a>
</button>
{% endblock %}