{% extends 'appHospital/padre.html' %}
{% load static %}
{% block topPage %}
<a class="navbar-brand" href=" {% url 'index' %}">H</a>
{% endblock %}
{% block title %}
<div class="masthead-subheading">Profesionales</div>
{% endblock %}
{% block changingContent %}
<p>Nombre: {{profesional.nombre}}</p>
<p>Nombre: {{profesional.apellido}}</p>
<p>Edad: {{profesional.edad}}</p>
<p>Matrícula: {{profesional.matrícula}}</p>
<p>Especialidad: {{profesional.especialidad}}</p>
<p>Hospital: {{profesional.hospital}}</p>
<br>
<p>
    <a href="{% url 'Profesional' %}">Volver</a>
</p>
{% endblock %}